.product {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.productContainer {
    width: 100%;
}

.productBox {
    display: flex;
    justify-content: center;
}

.productImageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productImage {
    width: 45%;
    height: auto;
}

.productContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.productSubheading {
    font: 500 2rem "Roboto Condensed";
    color: var(--color-gray-dark);
    letter-spacing: 1px;
    margin: 0 0 2rem;
}

.productTitle {
    font: 3.2rem "Roboto Condensed";
    margin: 0 0 2rem;
}

.productRating {
    font: 2rem "Roboto Condensed";
    color: var(--color-gray-dark);
    margin: 0 0 1rem;
}

.productPrice {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 0 0 2rem;
}

.productDescription {
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--color-gray-dark);
    margin: 0 0 2rem;
}


@media (max-width: 55em) {
    .productTitle {
        font-size: 2.4rem;
        margin: 0 0 1rem;
    }

    .productPrice {
        font-size: 2.4rem;
    }

}

@media (max-width: 42em) {
    .productImage {
        width: 60%;
    }

    .productBox {
        flex-direction: column;
        gap: 4rem;
    }
}

