.errorMessage {
    font: 3.2rem "Inter";
    margin: 0 0 6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

@media (max-width:35em){
    .errorMessage{
        font-size: 2.4rem;
    }
}
