.categories{
    min-height:80vh;
}

.categoriesTitle{
    text-align: center;
    font-size: 3.2rem;
    font-family: "Inter";
    font-weight: 600;
    margin: 0 0 2rem;
}

.divider{
    color: var(--color-black);
}

.categoriesList{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    padding:  2rem 0;
    gap:2rem;
    margin-bottom: 4rem;
}

.categoryLink:link,
.categoryLink:visited{
    background-color:var(--color-white);
    border: 1px solid var(--color-gray-dark);
    color: var(--color-gray-dark);
    text-decoration: none;
    padding: 1rem 3rem;
    font: 2rem "Inter";
    font-weight: 500;
    transition: all 0.2s;
}

.categoryLink:hover,
.categoryLink:active{
    background-color: var(--color-gray-dark);
    color: var(--color-white);
}

@media (max-width: 42em){
    .categoriesList{
        justify-content: center;
    }
}

@media (max-width: 35em){
    .categoryButton{
        font-size: 1.5rem;
        padding: 1rem 1.5rem;
    }
}

