.footer{
    background-color: var(--color-black);
    margin-bottom: auto;
}

.footerList{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:9rem;
    flex-wrap: wrap;
}

.footerLink:link,
.footerLink:visited{
    font: 1.8rem "Inter";
    text-decoration: none;
    color: var(--color-white);
    font-weight: 500;
}

.footerLink:hover,
.footerLink:active{
    color: var(--color-gray-medium);
}

@media (max-width: 42em){
    .footerList{
        flex-direction: column;
        gap:3rem;
    }
}