.heroContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroBox{
    flex:1;
    padding: 2rem;
}

.heroImage{
    width:100%;
    height: auto;
}

.heroTitle{
    font-family: "Roboto Condensed";
    font-size: 5.5rem;
    width: 70%;
    margin-bottom: 2rem;
    color: var(--color-black);
    font-weight: 600;
}

.heroDescription{
    width: 85%;
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--color-gray-dark);
    margin-bottom: 2rem;
}

@media (max-width: 55em){
    .heroTitle{
        font-size: 4.4rem;
        width: 100%;
    }

    .heroDescription{
        font-size: 1.6rem;
        width: 100%;
    }
}

@media (max-width: 42em){
    .heroImage{
     display: none;
    }

    .heroContainer{
        flex-direction: column-reverse;
        text-align: center;
    }
}


@media (max-width: 28em){
    .heroTitle{
        font-size: 3.6rem;
    }
}

