.productQuant {
    padding: 2rem 0;
    display: flex;
    gap: 3rem;
    align-items: center;
    margin: 0 0 2rem;
}

.productSelection{
    padding: 1rem 2rem;
    font-size: 2rem;
    color: var(--color-black);
}

.notification.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    top:10%;
    transition: all 0.3s;
}

.notification.visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    top:20%;
    transition: all 0.5s; 
}

.notification {
    background: var(--color-metal);
    border-radius: .9rem;
    color: var(--color-white);
    padding: 2rem 3rem;
    font: 1.8rem "Inter";
    position: fixed;
    left: 50%;
    transform: translate(-50%, -80%);
    width: auto;
}

.buttonContainer {
    display: flex;
    gap: 2rem;
}

.productQuantPrice {
    font: 600 2rem "Inter";
}

.btnBuy,
.btnAdd {
    padding: 1rem 2rem;
    background: var(--color-white);
    color: var(--color-black);
    font: 1.6rem;
    transition: all 0.1s;
    border: 1px solid var(--color-black);
}

.btnAdd:hover,
.btnBuy:hover {
    background: var(--color-black);
    color: var(--color-white);
}

@media (max-width: 55em) {
    .productSubheading {
        font-size: 1.8rem;
        margin: 0 0 0.5rem;
    }

    .btnBuy,
    .btnAdd {
        font-size: 1.6rem;
    }
}

@media (max-width: 42em) {
    .notification {
        width: 80%;
    }
}

